.container-class-component {
  background-image: linear-gradient(#60dbfb, #c174e1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-class-component  .container-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 350px;
  border-radius: 10px;
  background-color: #FFF;
}

.container-class-component .social, .container-class-component  .sobre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-class-component .social {
  flex-direction: row;
}

.container-class-component  .icone-voltar{
  cursor: pointer;
  margin: 10px 0 -10px 10px;
  width: 100%;
}