.container-contador {
  background-image: linear-gradient(#60dbfb, #c174e1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-contador .container-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 240px;
  border-radius: 10px;
  background-color: #FFF;
}

.container-contador .container-itens .contador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-contador .container-itens .contador button {
  margin-left: 10px;
  margin-right: 10px;
}

.container-contador .icone-voltar{
  cursor: pointer;
  margin: -10px 0 0px 10px;
  width: 100%;
}